{% load static %}

<!DOCTYPE html>
<html lang="uk">

<head>
	<meta charset="utf-8">
	<title>Сервіс Обліку Студентів - {% block meta_title %}{% endblock %}</title>
	<meta name="description" value="Система Обліку Студентів Навчального Закладу" />

	<!--Include Styles -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" type="text/css" href="{{ PORTAL_URL }}{% static 'css/main.css' %}">
	{% block extra_css %}{% endblock %}

</head>

<body>

	<!-- Start Container -->
	<div class="container-fluid">

		<!-- Start Header -->
		<div class="row" id="header">

			<!--Logo -->
			<div class="col-8">
				<h1>Сервіс Обліку Студентів</h1>
			</div>

			<!--Groups Selecor -->
			<div class="col-4" id="group-selector">
				<strong>Група:</strong>
				<select>
					<option value="">Усі Студенти</option>
					{% for group in GROUPS %}
					<option value="{{ group.id }}"{% if group.selected %}selected='1'{% endif %}>{{group.title}}{% if group.leader %}, {{group.leader }}{% endif %}</option>
					{% endfor %}
				</select>
			</div>
		</div>
		<!--End Header -->
{% url 'home' as home %}
		<!--Start SubHeader -->
		<div class="row" id="sub-header">
			<div class="col">
				<ul class="nav nav-tabs">
  					<li class="nav-item">
    					<a class="nav-link {% if request.path == home %}active{% endif %}"  href="{% url 'home' %}">Студенти</a>
  					</li>
  					<li class="nav-item">
   						<a class="nav-link {% if request.path == '/journal' %}active{% endif %}" href="/journal">Відвідування</a>
  					</li>
  					<li class="nav-item">
    					<a class="nav-link {% if request.path == '/groups/' %}active{% endif %}" href="{% url 'groups' %}">Групи</a>
  					</li>
  					<li class="nav-item">
    					<a class="nav-link {% if request.path == '/exams/' %}active{% endif %}" href="{% url 'exams' %}">Іспити</a>
  					</li>
  					<li class="nav-item">
    					<a class="nav-link {% if request.path == '/ratings/' %}active{% endif %}" href="{% url 'ratings' %}">Оцінки</a>
  					</li>
  					<li class="nav-item">
    					<a class="nav-link {% if request.path == '/contact-admin/' %}active{% endif %}" href="{% url 'contact_admin' %}">Контакт</a>
  					</li>    		  					
				</ul>			
			</div>
		</div>
		<!--End SubHeader -->

		<!--Start Content Columns -->
		<div class="row" id="content-columns">

			<div class="col" id="content-column">

				<!-- Status Message -->
				{% block status_message %}
				{% if request.GET.status_message %}
				<div class="alert alert-warning" role="alert">{{ request.GET.status_message }}</div>
				{% endif %}

				{% if messages %}				
    			{% for message in messages %}
    			<div class="alert alert-warning" role="alert">{{ message }}</div>   
   				{% endfor %}
   				{% endif %}

				{% endblock %}
				

				<h2>{% block title %}{% endblock %}</h2>
				
				{% block content %}{% endblock %}

			</div>
		</div>
		<!--End Content Columns -->
		
		<!--Start Footer -->
		<div class="row" id="footer">

			<div class="col">
				&copy; 2018 Сервіс Обліку Студентів
			</div>
		</div>
		<!--End Footer -->
	</div>
	<!--End Container-->


	<!--Javascripts Section -->
	<script
  src="http://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>

</html>