{% extends 'students/base.html' %}
{% load static %}

{% block meta_title %}Видалити Оцінку{% endblock %}
{% block title %}Видалити Оцінку{% endblock %}

{% block content %}

<form action="{% url 'ratings_delete' object.id %}" method='post'>
{% csrf_token %}
<p>Ви дійсно хочете видалити оцінку '{{ object }}'?</p>
<input type="submit" value="Так" name="delete_button" class="btn btn-danger">
<input type="submit" value="Ні" name="cancel_button" class="btn btn-primary"><br><br>
</form>

{% endblock %}